/* Tailwind base + components + utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom defaults */
html,body,#root {
  height: 100%;
}
body {
  @apply bg-[#020617] text-white antialiased;
}
